useDynLib(alphahull)


export(ahull)
export(anglesArc)
export(arc)
export(areaahull)
export(ashape)
export(complement)
export(delvor)
export(dummycoor)
export(inahull)
export(inter)
export(koch)
export(lengthahull)
export(rkoch)
export(rotation)
export(tricircum)
S3method(plot,ahull)
S3method(plot,ashape)
S3method(plot,delvor)